</html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
      <div class="col-md-6 offset-md-3">
          <h1 class="text-center text-decoration-underline">Local news</h1>
          <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ab quae illum accusantium laudantium architecto perferendis placeat cumque nisi voluptas ducimus ex labore quod, vitae possimus hic recusandae, porro quasi. Dicta quod qui et assumenda quasi maiores, mollitia nostrum. Aliquam quidem soluta a neque quibusdam minima aspernatur eos, itaque provident ipsum officia quae nesciunt sequi earum esse dicta in! Natus inventore aut quae excepturi vero officiis voluptates odit libero cupiditate nisi odio qui itaque fugiat harum veniam eos delectus error molestiae exercitationem, alias provident unde aliquam consequuntur necessitatibus. Possimus harum sunt nisi sed nobis doloremque magni odit. Nisi, adipisci quasi.
          </p> 
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ab quae illum accusantium laudantium architecto perferendis placeat cumque nisi voluptas ducimus ex labore quod, vitae possimus hic recusandae, porro quasi. Dicta quod qui et assumenda quasi maiores, mollitia nostrum. Aliquam quidem soluta a neque quibusdam minima aspernatur eos, itaque provident ipsum officia quae nesciunt sequi earum esse dicta in! Natus inventore aut quae excepturi vero officiis voluptates odit libero cupiditate nisi odio qui itaque fugiat harum veniam eos delectus error molestiae exercitationem, alias provident unde aliquam consequuntur necessitatibus. Possimus harum sunt nisi sed nobis doloremque magni odit. Nisi, adipisci quasi.
          </p> 
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ab quae illum accusantium laudantium architecto perferendis placeat cumque nisi voluptas ducimus ex labore quod, vitae possimus hic recusandae, porro quasi. Dicta quod qui et assumenda quasi maiores, mollitia nostrum. Aliquam quidem soluta a neque quibusdam minima aspernatur eos, itaque provident ipsum officia quae nesciunt sequi earum esse dicta in! Natus inventore aut quae excepturi vero officiis voluptates odit libero cupiditate nisi odio qui itaque fugiat harum veniam eos delectus error molestiae exercitationem, alias provident unde aliquam consequuntur necessitatibus. Possimus harum sunt nisi sed nobis doloremque magni odit. Nisi, adipisci quasi.
          </p>
      
      </div>
  </div>
    {% endblock content %}
  
    
  

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>